.restaurantList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: auto;
  width: 80vw;

  @media screen and (min-width: 15em) and (max-width: 47em) {
    grid-template-columns: 1fr;
  }
}

.restaurantItem {
  display: grid;
  cursor: pointer;
  grid-template-columns: 7rem 1fr 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 20px var(--border);
  overflow: hidden;

  @media screen and (min-width: 15em) and (max-width: 47em) {
    grid-template-columns: 1fr;
  }

  h5 {
    margin: 0;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
  }

  section {
    padding: 1rem;
  }

  aside {
    display: flex;
    place-items: center;
    color: var(--orange);
  }

  footer {
    small {
      border: 1px solid var(--border);
      padding: 0.2rem 0.3rem;
      display: inline-block;
    }
  }
}
