:root {
  --back: #f8f8f8;
  --red: #ff0043;
  --border: #eee;
  --gray: #ccc;
  --darker: #666;
  --black: #353535;
  --white: #fff;
  --orange: #f7c97c;
}

@import 'base';
@import 'navigation';
@import 'blocks';
@import 'modals';
