.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: grid;
  left: 0;
  place-items: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

.modal {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 40px var(--gray);
  padding: 1rem;
  position: relative;
  text-align: center;
  z-index: 2;

  header {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    width: 20rem;
  }

  .close {
    background: var(--red);
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    color: var(--white);
    font-size: 2rem;
    height: 1.1em;
    line-height: 1em;
    padding-left: 0.25em;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    transition: filter 0.2s;
    width: 1.1em;

    &:hover {
      filter: brightness(0.95);
    }
  }

  h3,
  h4 {
    margin: 0;
    text-align: center;
  }

  input[type='number'] {
    background: var(--white);
    border-radius: 0.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-right: 0.5rem;
  }

  img {
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: 100%;
  }

  form {
    fieldset {
      border: 0;
      display: flex;
      flex-direction: column;
    }

    select {
      appearance: none;
      background-color: var(--back);
      border: 0;
      border-radius: 0.5rem;
      color: var(--red);
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      padding: 1rem;
      text-align: center;

      &:hover {
        color: var(--black);
      }
    }

    div {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
    }

    label {
      font-weight: bold;
    }
  }

  .item {
    border-top: 1px solid var(--border);
    padding: 1rem;

    hgroup,
    p {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0;
    }

    button {
      color: var(--red);
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;

    p {
      margin: 0;
    }
  }

  .action {
    background-color: var(--back);
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0.5rem;
    text-align: center;
  }

  .action,
  form {
    button {
      background-color: var(--red);
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      color: var(--white);
      font-weight: bold;
      margin: auto;
      padding: 1rem;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.95);
      }

      &:active {
        border-top: 2px solid rgba(0, 0, 0, 0.3);
        border-bottom: 0;
        filter: brightness(0.9);
      }
    }
  }

  @media screen and (min-width: 15em) and (max-width: 47em) {
    max-width: 90vw;
    max-height: 95vh;
    overflow-y: scroll;
    text-align: left;

    header {
      width: auto;
    }

    .close {
      top: 0.25rem;
      right: 0.25rem;
      transform: translate(0);
    }
  }
}
